.blog-title {
    font-weight: 700;
    font-size: 244px;
    color: rgba(26, 26, 26, 1);
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    text-align: center;
}

.all-blog-arrow {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1440px) {
    .blog-title {
        font-size: 180px;
    }
}

@media (max-width: 1024px) {
    .blog-title {
        font-size: 120px;
    }
}

@media (max-width: 768px) {
    .blog-title {
        font-size: 80px;
    }
}

@media (max-width: 576px) {
    .blog-title {
        font-size: 60px;
    }
}

@media (max-width: 1024px) {
    .row-1 {
        grid-template-columns: 1fr !important;
    }

    .blog-title-bottom-text-3 {
        display: flex;
        flex-direction: column;
    }

    .thumbnail-wrapper-bottom img {
        width: 100%;
        height: 188px;
    }

}

@media (max-width: 768px) {

    .blog-title-small-text-1 {
        display: flex;
        flex-direction: column;
    }

    .blog-title-small-text-2 {
        display: flex;
        flex-direction: column;
    }

    .thumbnail-wrapper-small img {
        width: 326px;
        height: 200px;
    }

    .all-blog-image-wrapper img {
        width: 100%;
        height: 240px;
    }

    .text-3 {
        width: 330px;
    }

    .thumbnail-wrapper-bottom img {
        width: 330px;
        height: 200px;
    }

    .text-4 {
        width: 326px;
    }

    .media {
        width: 330px !important;

    }

    .thumbnail-wrapper img {
        width: 330px !important;
        height: 240px !important;
    }

    .text-1 {
        width: 330px;
    }

    .text-2 {
        width: 330px;
    }

}

.recent-blogs-wrapper {
    margin: 60px auto 0;
}

.recent-blogs-wrapper .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(26, 26, 26, 1);
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.blog-meta {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 32px;
}

.blog-meta-2 {
    display: flex;
    align-items: center;
    gap: 6px;


}

.blog-meta p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(105, 65, 198, 1);
}

.blog-meta-2 p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(105, 65, 198, 1);
}


.blog-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.blog-title-wrapper a {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(26, 26, 26, 1);
}

.description-wrapper {
    margin-top: 12px;
}

.description-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(102, 112, 133, 1);
}

.thumbnail-wrapper {

}

.thumbnail-wrapper img {
    width: 100%;
    height: auto;
}

.thumbnail-wrapper-small {
}

.thumbnail-wrapper-small img {


}


.blog-title-small-text-1 {
    display: flex;
    gap: 24px;

}

.blog-title-small-text-2 {
    display: flex;
    gap: 24px;

}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.text-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;


}

.text-2 {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.thumbnail-wrapper-bottom {


}

.col-3 {
    margin-top: 60px;


}

.text-3 {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.blog-title-bottom-text-3 {
    display: flex;
    gap: 32px;

}

.all-posts-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    gap: 32px 48px;
}

.text-4 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.all-posts-grid {
    margin: 0 auto;
}

.arrow-icon {
    align-items: center;
}

.all-blog-image-wrapper {
    width: 384px;
    height: 240px;
}

.title-2 {
    margin-top: 60px;
    margin-bottom: 32px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}